.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.footer {
  background-color: black;
  margin: 0px auto;
  padding: 20px 0px;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background:#9575CD;
  color: floralwhite;
}
address {
  font-size: 80%;
  margin: 0px;
  color:white;
}
body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.navbar-dark {
  background-color: black;
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.carousel {
  background: #512DA8;
}
.carousel .carousel-item {
  height: 300px;
}
.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}
.modal-header{
  background-color: #512DA8;
  bottom: 0px;
  margin:0px;
}
.h3{
  color: floralwhite;

}
h4{
  color: floralwhite;
  
}
.close{
  color: floralwhite;  
}
h5{
  color: white;
}
.modal-body {
    background-color:#9575CD;
    top: 0px;
    margin: 0px;
}
.white{
  color: white;
}
.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(243, 224, 211);
  top: 60vh;
  height: 60vh;
  grid-template-areas: "bottom1 bottom2 bottom3";
}
.bottom1 {
  grid-area: "bottom1";
  width: 300px;
  height: 300px;
  perspective: 2000px;
}
.bottom2 {
  grid-area: "bottom2";
  width: 300px;
  height: 300px;
  perspective: 2000px;
}
.bottom3 {
  grid-area: "bottom3";
  width: 300px;
  height: 300px;
  perspective: 2000px;
}
.card1 {
  position:relative;
  width: 100%;
  height: 100%;

  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: center right;
  cursor: pointer;
}
.card2 {
  position: relative;
  width: 100%;
  height: 100%;

  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}
.card3 {
  position: relative;
  width: 100%;
  height: 100%;

  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card1.is-flipped1 {
  transform: translateX(-100%) rotateY(180deg);
}
.card2.is-flipped2 {
  transform: translateX(-100%) rotateY(180deg);
}
.card3.is-flipped3 {
  transform: translateX(-100%) rotateY(180deg);
}
.project {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: silver;
  text-align: center;
  box-shadow: 0 8px 16px 0 black;
  backface-visibility: hidden;
}
.front1 {
  background-color: brown;
}
.back1 {
  background-color: white;
  transform: rotateY(180deg);
}
.front2 {
  background-color: brown;
}
.back2 {
  background-color:white;
  transform: rotateY(180deg);
}

.front3 {
  background-color: brown;
}
.back3 {
  background-color: white;
  transform: rotateY(180deg);
}
.bgcolor {
  background-color: rgb(243, 224, 211);
}
